@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  input {
    border: .1rem solid grey;
    height: 3rem;
    width: 50rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    padding: 2rem 1rem;

    @include largePhone {
      width: 90vw;
    }

    &:focus {
      border: none;
    }
  }

  span {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .icon {
      font-size: 1.2rem;
    }

    button {
      padding: .5rem 2rem;
      background-color: $colorOldDrab;
      color: #fff;
      border-radius: .5rem;
      border: transparent;
      cursor: pointer;
    }
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      padding: .5rem 2rem;
      background-color: #e2e2e2;
      border-radius: .5rem;
      border: transparent;
      cursor: pointer;
    }

    button.active {
      background-color: $colorOldDrab;
      color: #fff;
      font-weight: 700;
    }
  }
}