/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Profession: Web Developer
Skills: HTML, CSS, JavaScript, React.js, Next.js, Node.js, Linux (Ubuntu)
Description: A passionate web developer based in Michigan, USA, with expertise in crafting engaging and responsive web experiences. Proficient in a wide range of technologies including HTML, CSS, JavaScript, React.js, Next.js, and Node.js. Enthusiastic about optimizing user experiences and creating visually appealing websites. With a background in Linux and Ubuntu, I bring a unique perspective to my coding projects. Get in touch to collaborate on exciting web development ventures.
*/

@import './responsive.scss';
@import './variable.scss';

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=PT+Sans+Caption:wght@400;700&display=swap');

html {
  font-size: 62.5%;

  @include phone {
    font-size: 55.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Caption', sans-serif;
}

*::selection {
  background-color: $colorOldDrab;
  color: $colorSnow;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.wrapContainer {
  width: 90%;
  max-width: 133.4rem;
  margin: 0 auto;
}

.home {
  .wrapContainer {
    .sectionContainer {
      margin-top: 9rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      // border: .1rem solid salmon;
    }
  }
}