$boxShadow: rgba(100, 100, 111, 0.15) 0px 0px 25px 0px;
// BG
$colorBackground: #ececec;
$colorSnow: #FFFFFF;
$colorTosca: #73aaac;
$colorOldTosca: #689293;
$colorSlate: #6D8CA1;
$colorOldSlate: #567081;
$colorFossil: #C8D1D5;
$colorOldFossil: #9ba2a5;
$colorOldGrey: #646c73;
$colorGrey: #7d868e;
$colorSand: #BAB0A2;
$colorOldSand: #8b847a;
$colorOrange: #D87E53;
$colorOldDrab: #314755;
$colorDrab: #3e5d6e;
//FONT
$paraFont: 'Manrope', sans-serif;
$headingFont: 'Barlow', sans-serif;
$cursiveFont: 'Oleo Script', cursive;
$karla: 'Karla';

// SHADOW
// $boxShadow: rgba(100, 100, 111, 0.15) 0px 0px 5px 0px;