@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.accomplishments {
  grid-column: span 2;
  border-radius: 2rem;
  // background-color: #c5f9ba;
  background-color: #b7e9bb;
  color: $colorOldGrey;
  padding: 2rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    width: 25rem;
    height: 4rem;
    // background-color: #d3dcd1;
    position: absolute;
    left: -2rem;
    top: 1.2rem;
    border-radius: 1rem;
    opacity: .5;
  }

  @include tablet {
    grid-column: span 3;
  }

  h1 {
    font-size: 1.8rem;
    position: relative;
  }

  .wrapBox {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;

    @include phone {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  ul {
    margin-top: 2rem;

    li {
      font-size: 1.6rem;
      margin-top: 2rem;
      line-height: 2.5rem;
      list-style: none;
      padding: 2rem;
      border-radius: 1rem;
      background-color: #a3e7a9;
      position: relative;

      &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #b7e9bb;
        position: absolute;
        left: -1rem;
        top: 2.2rem;
      }
    }

  }
}