@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.footer {
  // margin-top: 5rem;
  margin-top: auto;
  width: 100%;
  height: 5rem;
  background-color: $colorOldDrab;

  .wrapContainer {
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;

      p {
        font-size: 1.4rem;
        color: white;
      }
    }
  }
}