@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.home {
  .wrapContainer {
    .sectionContainer {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      background-color: salmon;
    }
  }
}