@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.experiences {
  grid-column: span 2;
  border-radius: 2rem;
  background-color: #D8DAD9;
  color: $colorOldGrey;
  padding: 2rem;
  position: relative;
  overflow: hidden;

  @include phone {
    margin-top: 3rem;
  }

  &::before {
    content: '';
    width: 20rem;
    height: 4rem;
    background-color: #d3d5d3;
    position: absolute;
    left: -2rem;
    top: 1.2rem;
    border-radius: 1rem;
  }

  @include tablet {
    grid-column: span 3;
  }

  h1 {
    font-size: 1.8rem;
    position: relative;
  }

  .wrapBox {
    display: flex;
    gap: 2rem;

    @include phone {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  ul {
    margin-top: 3rem;

    li {
      font-size: 1.6rem;
      margin-top: 2rem;
      line-height: 2.5rem;
      list-style: none;
      padding: 2rem;
      border-radius: 1rem;
      background-color: #d3d5d3;
      position: relative;

      &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #d3d5d3;
        position: absolute;
        left: -1rem;
        top: 2.2rem;
      }
    }

  }
}