@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.experiences {
  grid-column: span 2;
  border-radius: 2rem;
  background-color: #bfe5f8;
  color: $colorOldGrey;
  padding: 2rem;
  position: relative;
  // overflow: hidden;

  @include phone {
    margin-top: 3rem;
  }

  &::before {
    content: '';
    width: 20rem;
    height: 4rem;
    // background-color: #314755a7;
    position: absolute;
    left: -.001rem;
    top: 1.2rem;
    border-radius: .5rem 1rem 1rem 0;
  }

  @include tablet {
    grid-column: span 3;
  }

  h1 {
    font-size: 2rem;
    position: relative;
  }

  .wrapBox {
    display: flex;
    gap: 2rem;

    @include phone {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  .ulBox {
    margin-top: 3rem;

    .liBox {
      font-size: 1.6rem;
      margin-top: 2rem;
      line-height: 2.5rem;
      list-style: none;
      padding: 2rem;
      border-radius: 1rem;
      background-color: #acdcf4;
      position: relative;

      .point {
        color: $colorOldGrey;
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: .8rem;
        width: 100%;
      }

      .groupSkill {
        display: flex;
        flex-wrap: wrap;
        row-gap: .5rem;
        column-gap: .3rem;

        .skill {
          border: .1rem solid $colorOldDrab;
          background-color: #D3DDD1;
          color: $colorOldDrab;
          padding: .5rem 1rem;
          border-radius: 1rem;
          font-size: 1.2rem;

          .tooltip {
            visibility: hidden;
            width: 100%;
            color: $colorOldGrey;
            border-radius: 1rem;
            padding: 2rem;
            position: absolute;
            z-index: 99;
            left: 0;
            margin-top: 1rem;
            line-height: 2rem;
            text-align: start;

            .heading {
              color: $colorOldDrab;
              font-weight: 700;
              margin-bottom: .5rem;
            }

            .ulTooltip {
              .liTooltip {
                // font-size: 1.6rem;
                margin-top: 1rem;
                list-style: none;
                padding: 2rem;
                border-radius: 1rem;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 10rem;

                &::before {
                  content: '';
                  width: 2rem;
                  height: 2rem;
                  border-radius: 50%;
                  position: absolute;
                  left: -1rem;
                  top: 2.2rem;


                }
              }

              .liTooltip.liTooltipExpress {
                background-color: #d1dcdd;

                &::before {
                  background-color: #d1dcdd;
                }
              }

              .liTooltip.liTooltipMysql {
                background-color: #d9d1dd;

                &::before {
                  background-color: #d9d1dd;
                }
              }
            }
          }

          &:hover {
            .tooltipHtml {
              visibility: visible;
              background-color: #eee9e9;
            }

            .tooltipCss {
              visibility: visible;
              background-color: #eceee9;
            }

            .tooltipJavaScript {
              visibility: visible;
              background-color: #eeeee9;
            }

            .tooltipTypeScript {
              visibility: visible;
              background-color: #e9eaee;
            }

            .tooltipReactJs {
              visibility: visible;
              background-color: #eee9ee;
            }

            .tooltipNodeJs {
              visibility: visible;
              background-color: #e9eeec;
            }

            .tooltipExpressJs {
              visibility: visible;
              background-color: #eeeee9;
            }

            .tooltipMySql {
              visibility: visible;
              background-color: #e9eeeb;
            }

            .tooltipRestApi {
              visibility: visible;
              background-color: #e9ebee;
            }

            .tooltipGit {
              visibility: visible;
              background-color: #e9eeeb;
            }

            .tooltipGithub {
              visibility: visible;
              background-color: #eee9ed;
            }

            .tooltipLinux {
              visibility: visible;
              background-color: #e9ecee;
            }

            .tooltipNginx {
              visibility: visible;
              background-color: #e9eeea;
            }
          }
        }
      }

      &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #acdcf4;
        position: absolute;
        left: -1rem;
        top: 2.2rem;

        .point {
          span {
            display: block;
            color: salmon;
          }
        }
      }

    }

  }
}