@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';


.faq {
  margin-top: 11rem;
  margin-bottom: 5rem;

  @include largePhone {
    margin-top: 5rem;
  }

  .wrapContainer {
    .box-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      @include tablet {
        grid-template-columns: repeat(1, 1fr);
      }

      .header {
        color: $colorOldFossil;

        h1 {
          font-size: 3.6rem;
          color: $colorDrab;
          font-family: 'Fira Sans', sans-serif;
        }

        p {
          font-size: 1.8rem;
          line-height: 2.5rem;
        }

        .boxHeaderContainer {
          margin-top: 1.5rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;

          @include phone {
            grid-template-columns: repeat(2, 1fr);
          }

          .boxHeader {
            padding: 2rem 2.5rem;
            font-size: 1.4rem;
            line-height: 2rem;
            border-radius: 1rem;
            color: $colorOldGrey;
          }

          .boxHeader.boxHeader1 {
            grid-column: span 1;
            background-color: #D0DBE2;

            @include phone {
              grid-column: span 1;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
          }

          .boxHeader.boxHeader2 {
            grid-column: span 2;
            background-color: #D2DCC9;

            @include phone {
              grid-column: span 1;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
          }
        }
      }


      .box {
        border-radius: 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


        .accordion {
          width: 90%;

          li {
            list-style: none;
            width: 100%;
            margin: 0rem 0;
            padding: .2rem;
            border-radius: .8rem;


            label {
              display: flex;
              align-items: center;
              padding: 1rem;
              cursor: pointer;
              font-size: 1.6rem;
              font-weight: 700;
              color: $colorDrab;

              &::before {
                content: '+';
                margin-right: 1rem;
                font-size: 2rem;
                font-weight: 700;
              }
            }

            input[type="radio"] {
              display: none;
            }

            input[type="radio"]:checked+label+.content {
              max-height: 90rem;
              padding: 1rem;
              padding-left: 2.6rem;
            }

            input[type="radio"]:checked+label::before {
              content: '-';
            }
          }

          .content {
            color: $colorOldFossil;
            padding: 0 1rem;
            line-height: 1.6rem;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s, padding 0.5s;

            .answer {
              font-size: 1.4rem;
              line-height: 2.5rem;

              .groupList {
                display: flex;
                flex-wrap: wrap;
                gap: 3rem;

                .list {
                  padding-left: 1.5rem;

                  li {
                    list-style: square;
                    font-weight: 700;
                    // cursor: pointer;

                    a {
                      color: $colorOldTosca;

                      .icon {
                        margin-left: .5rem;
                      }
                    }
                  }
                }

              }

              .bold {
                font-weight: bold;
                color: $colorOldDrab;
              }
            }
          }
        }
      }
    }
  }
}