@import '../styles/responsive.scss';
@import '../styles/variable.scss';

.blog {
  margin-top: 9rem;
  margin-bottom: 5rem;

  .wrapContainer {
    .wrapBlog {
      // border: .1rem solid salmon;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;




    }
  }
}