@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.navbar {
  height: 7rem;
  display: flex;
  align-items: center;
  // border: .1rem solid salmon;
  // position: fixed;
  // left: 0;
  // right: 0;
  // top: 0;
  z-index: 999;
  background-color: #e4eaea;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  ;

  .wrapContainer {
    .sectionContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .colLeft {
        a {
          display: flex;
          align-items: center;
          gap: 1rem;

          .logo {
            border: .3rem solid #6594b0;
            border-radius: 50%;
            width: 6rem;
            height: 6rem;
            overflow: hidden;

            img {
              width: 7rem;
              height: 7rem;
              object-fit: contain;
            }
          }
        }



        .name {
          h1 {
            font-size: 1.6rem;
            color: $colorDrab;
          }
        }
      }

      .colRight {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        // border: .1rem solid green;

        .iconClose {
          display: none;
        }

        .iconClose.on {
          display: block;

          @include tablet {
            position: fixed;
            right: 1rem;
            bottom: 18rem;
            background-color: #ca0e0e;
            color: #fff;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            padding: 1rem;
            z-index: 4;
            cursor: pointer;
          }
        }

        .nav {
          display: flex;
          gap: 3rem;
          // border: .1rem solid salmon;

          @media screen and (max-width : 857px) {
            gap: 1rem;
          }

          @include tablet {
            display: none;

          }

          .link {
            font-size: 1.6rem;
            color: $colorOldGrey;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            transition: .5s linear;
            position: relative;
            z-index: 99;



            @include tablet {
              border-left: .001rem solid $colorOldGrey;
              border-bottom: .001rem solid $colorOldGrey;
            }

            .icon {
              display: none;

              @include tablet {
                display: block;
                width: 2rem;
              }
            }


          }

          .link.on {
            color: $colorSnow;
            font-weight: 700;

            &::after {
              content: '';
              width: 120%;
              height: 3rem;
              background-color: $colorOldDrab;
              border-radius: 1rem;
              z-index: -1;
              position: absolute;
              padding: .3rem 1.5rem;
              // z-index: 9;

              @media screen and (max-width : 857px) {
                padding: .3rem .1rem;
              }

              @include tablet {
                width: 70%;
                height: 90%;
                padding: .3rem 1.5rem;
              }
            }
          }
        }

        .nav.on {
          position: fixed;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          background-color: $colorSnow;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 20rem;
          border-radius: 2rem 2rem 0 0;
          overflow: hidden;
          gap: 0;
          box-shadow: 0rem .5rem 9rem 5rem rgba(0, 0, 0, .2);
          z-index: 3;
        }

        .cta {
          display: flex;
          justify-content: space-between;
          gap: 2rem;
          // border: .1rem solid salmon;

          .btnGithub {
            // padding: 1rem 2rem;
            height: 3.5rem;
            padding: .3rem 1.5rem;
            background-color: $colorOldDrab;
            color: $colorSnow;
            border: none;
            border-radius: 1rem;
            font-size: 1.4rem;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            align-items: center;

            .icon {
              // width: 1.5rem;
              margin-right: -.4rem;
            }

            .iconArrow {
              margin-left: -.5rem;
              display: none;
            }
          }

          .btnMenu {
            display: none;

            @include tablet {
              display: block;
              position: fixed;
              bottom: 8.5rem;
              right: 5rem;
              padding: 1.5rem 2rem;
              background-color: $colorSnow;
              color: $colorOldDrab;
              border: none;
              border-radius: .3rem;
              font-size: 2.6rem;
              cursor: pointer;
              display: flex;
              gap: 1rem;
              align-items: center;
              box-shadow: 0rem .5rem 2.5rem .1rem rgba(0, 0, 0, .2);
              z-index: 2;
            }

            .icon {
              width: 1.5rem;
            }
          }

        }
      }
    }
  }
}