.singleBlog {
  margin-top: 10rem;
  border: .1rem solid salmon;
}

iframe {
  display: block;
  /* iframes are inline by default */
  background: #000;
  border: none;
  /* Reset default border */
  height: 100vh;
  /* Viewport-relative units */
  width: 100vw;
}