@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.listDemo {
  margin-top: 5rem;

  .wrapContainer {
    .header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      @include tablet {
        grid-template-columns: 1fr;
      }

      .colLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        h1 {
          font-size: 2.8rem;
          color: $colorDrab;
          padding: 2rem;
          font-family: 'Fira Sans', sans-serif;

          @include tablet {
            text-align: center;
            line-height: 3.5rem;
          }
        }

        .box {
          font-size: 1.4rem;
          line-height: 2.5rem;
          background-color: #D8DAD9;
          color: $colorOldGrey;
          padding: 1rem 3rem;
          border-radius: 1rem;
          min-height: 17rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &::after {
            content: '🔍';
            font-size: 4.8rem;
            position: absolute;
            right: 1rem;
            bottom: 2rem;
          }
        }
      }

      .colRight {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;



        .headBox {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2rem;

          h1 {
            font-size: 2.4rem;
            color: $colorDrab;
            font-family: 'Fira Sans', sans-serif;
          }
        }

        .box {
          font-size: 1.4rem;
          border-radius: 1rem;
          padding: 2rem;
          line-height: 2rem;

        }

        .box.box1 {
          background-color: #d0dbe2;
          color: $colorOldGrey;
        }

        .box.box2 {
          background-color: #e2dad0;
          color: $colorOldGrey;
        }

        .box.box3 {
          background-color: #d2dbc8;
          color: $colorOldGrey;
        }
      }
    }

    .content {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      @include tablet {
        grid-template-columns: repeat(1, 1fr);
      }

      .box {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 10px 1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        cursor: pointer;

        .image {
          border-radius: 1rem;
          overflow: hidden;
          min-width: 100px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .detail {
          display: flex;
          flex-direction: column;
          gap: .5rem;
          justify-content: center;

          .title {
            font-size: 1.8rem;
            font-weight: 600;
            color: $colorOldDrab;
          }

          .desc {
            font-size: 1.4rem;
            line-height: 2rem;
            color: $colorGrey;
          }

          .tag {
            margin-top: 1rem;
            display: flex;
            gap: .3rem;
            flex-wrap: wrap;

            button {
              border: .1rem solid #0149B4;
              background-color: #E0F7FF;
              color: #0149B4;
              padding: .2rem 1rem;
              border-radius: 1rem;
            }
          }

          .license {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
            flex-wrap: wrap;
            color: grey;

            span {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  .pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    .box-container {
      display: flex;
      gap: 1.5rem;
      list-style: none;

      @include tablet {
        gap: 1rem;
      }

      .link {
        height: 3.5rem;
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .6rem;
        background-color: $colorSnow;
        color: $colorOldDrab;
        font-weight: 700;
        font-size: 1.4rem;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px 3px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }

      .link.on {
        background-color: $colorDrab;
        color: $colorSnow;
        font-weight: 700;
      }

      .disabled {
        background-color: $colorFossil;
        color: black;
        cursor: not-allowed;
        border: transparent;
        border-radius: .5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px 3px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      }
    }
  }
}



// SKELETON MODAL DEMO
@keyframes skeletonLoading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton {
  animation: skeletonLoading 1s linear infinite alternate;
}

.skeleton.skeletonImage {
  width: 13rem;
  min-width: 10rem;
  border-radius: 1rem;
  opacity: .5;
}

.skeleton.skeletonTitle {
  margin-bottom: 1rem;
  width: 50%;
  height: 2rem;
  border-radius: .5rem;
}

.skeleton.skeletonDesc {
  width: 100%;
  height: 1rem;
  border-radius: 1rem;

  @include phone {
    width: 15rem;
  }
}

.skeleton.skeletonLicense {
  margin-top: 2rem;
  height: 1rem;
  width: 10rem;
  border-radius: 1rem;
  border: transparent;
}